<style>
  input[type=text], select {
      width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    .loginButton{
        width: 30%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<form>
    <div style="margin-left: 35%; padding: 30px">
      <h1>
          Log In
      </h1>
  
      <div>
          <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username"> 
      </div>
      <div style="margin-top: 10px">
    <input type="text" [(ngModel)]="user.password" name="password" placeholder="Password"> 
  </div>
    <div style="margin-top: 10px">
    <button class="loginButton" (click)="loginClicked()"> Log In </button>
  </div>
    <div style="margin-top: 10px">
    <label style="color:red">{{errorMessage}}</label> 
  </div>
</div>
</form>
